/* Global styles */
@import 'tailwindcss';

@theme {
  --font-inter: 'Inter', sans-serif;
  --font-bodoni: 'Bodoni Moda', serif;
  --font-newsreader: 'Newsreader', serif;
  --font-rufina: 'Rufina', serif;
}

html {
  scroll-behavior: smooth;
}
